body.start {
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;

    background-image: url(photos/naruto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color:rgb(170, 37, 37);
    text-align: center;
    border-radius: 12px;
}

body.quiz {
    min-height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

#quiz-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    background-color: rgb(102, 152, 222);
    padding: 10px 20px;
    display: inline-block;
    border-radius: 12px;

}

#quiz-screen {
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    padding: 5px 10px;
    min-height: 500px;
    border-radius: 12px;
}

#question {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    margin-bottom: 15px;
    padding: 10px;
    color: white;
    border-radius: 12px;
    text-align: center;
    margin-top: 10px auto;
}

#answers {

    font-size: 30%;
    display: column;
    justify-content: center;
    gap: 10px;
}

#answers button {
    width: 100%;
    max-width: 400px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    background-color: rgb(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 12px;
}

#answers button:hover {
    border-color: aliceblue;
}

.container {
    max-width: 500px;
    width: 90%;
    margin: 20px auto;
}

.hidden {
    display: none;
}

button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;

    padding: 10px 20px;
    margin: 10px auto;
    display: inline-block;
    border: none;
    
    background:rgb(102, 152, 222);
    color:rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 12px;
}

#back-btn {
    position: absolute;
    top: 100px;
    right: 20px;

    font-size: 90%;
    padding: 8px 15px;

    border-radius: 10px;
    border: none;
    display: inline-block;

    cursor: pointer;
}

#progress {
    position: absolute;
    top: 20px;
    left: 20px;

    font-size: 75%;
    color: aliceblue;
    background:rgb(102, 152, 222);
    padding: 5px 10px;
    border-radius: 10px;
}
#result-title, #result-description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
    padding: 10px 20px;
    margin: 10px auto;
    display:inline-block;
    border: none;
    background-color:rgb(255, 255, 255, 0.9);
    border-radius: 12px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

@media (max-width: 768px) {

    body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    }

    #progress {
        position: fixed;
        bottom: 100px;
        left: 10px;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 20px;
        display: inline-block;
        width: auto;
    }

    #back-btn {
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-size: 12px;
        padding: 5px 12px;
        border-radius: 20px;
        display: inline-block;
        width: auto;
    }
}